.btn-default-line {
    text-decoration: none;
    color: var(--white);
    border: 2px solid var(--white);
    padding: 8px 16px;
    font-size: 1rem;
    transition: background-color 0.2s ease, color 0.2s ease;
}

.btn-default-line:hover {
    background-color: var(--primary);
    color: var(--black);
}
